n8n-workflows/02-confirmacao-agendamento.json
{
  "name": "BabIA - Confirmação de Agendamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "babia-events",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-event",
              "leftValue": "={{ $json.event }}",
              "rightValue": "appointment.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Filtro: appointment.created",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ number: $json.clientPhone.replace(/\\D/g, '').length <= 11 ? '55' + $json.clientPhone.replace(/\\D/g, '') : $json.clientPhone.replace(/\\D/g, ''), text: `Olá ${$json.clientName}! ✅ Agendamento confirmado:\\n\\n📅 ${$json.date} às ${$json.time}\\n💇 ${$json.serviceName}\\n👤 com ${$json.professionalName}\\n📍 em ${$json.tenantName}\\n\\nAté lá!` }) }}",
        "options": {}
      },
      "id": "set-message",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Filtro: appointment.created", "type": "main", "index": 0 }]
      ]
    },
    "Filtro: appointment.created": {
      "main": [
        [{ "node": "Montar Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Montar Mensagem": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "BabIA" },
    { "name": "WhatsApp" }
  ]
}
