n8n-workflows/04-lembrete-4h.json
{
  "name": "BabIA - Lembrete 4h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron: cada 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://babia.oxineo.com.br/api/cron/reminders-4h",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-reminders",
      "name": "Buscar Lembretes 4h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-reminders",
              "leftValue": "={{ $json.reminders.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-empty",
      "name": "Tem lembretes?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reminders",
        "options": {}
      },
      "id": "split-items",
      "name": "Split Lembretes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ number: $json.clientPhone.replace(/\\D/g, '').length <= 11 ? '55' + $json.clientPhone.replace(/\\D/g, '') : $json.clientPhone.replace(/\\D/g, ''), text: `Olá ${$json.clientName}! ⏰ Faltam poucas horas para seu agendamento:\\n\\n🕐 Hoje às ${$json.time}\\n💇 ${$json.serviceName}\\n👤 com ${$json.professionalName}\\n📍 em ${$json.tenantName}\\n\\nTe esperamos!` }) }}",
        "options": {}
      },
      "id": "set-message",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "time": 2,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Cron: cada 30min": {
      "main": [
        [{ "node": "Buscar Lembretes 4h", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Lembretes 4h": {
      "main": [
        [{ "node": "Tem lembretes?", "type": "main", "index": 0 }]
      ]
    },
    "Tem lembretes?": {
      "main": [
        [{ "node": "Split Lembretes", "type": "main", "index": 0 }]
      ]
    },
    "Split Lembretes": {
      "main": [
        [{ "node": "Montar Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Montar Mensagem": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Wait 2s", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    { "name": "BabIA" },
    { "name": "WhatsApp" },
    { "name": "Cron" }
  ]
}
